@import (less) "template.css";
@import "normalize.css";
@import "../../components/bootstrap/less/bootstrap.less";
@import "../../components/fontawesome/less/font-awesome.less";


//fonts

@font-face {
	font-family: Mathlete Bulky;
	src: url(../fonts/Mathlete-Bulky.otf);
}

@font-face {
	font-family: A little sunshine;
	src: url(../fonts/A-little-sunshine.ttf);
}

@font-face {
	font-family: HipsterishFontNormal;
	src: url(../fonts/HipsterishFontNormal.ttf);
} 

@font-face {
	font-family: Roboto Light;
	src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: Roboto Medium;
	src: url(../fonts/Roboto-Medium.ttf);
}


// custom code

.navbar{
	.navbar-header{
		.brand{
			font-family: "HipsterishFontNormal";
			font-size: 36px;
			line-height: 36px;
			letter-spacing: 3px;

			&:hover{
				text-decoration: none;
			}
		}
	}
}


.hero-unit{

	.email-form-container{
		.make-md-column(6);
		.make-md-column-offset(3);

		.input-group{
			input{
				font-family: "Roboto Light";
			}
			span{
				font-family: "A little sunshine";
				cursor: pointer;
			}
		}
	}
}

.upload-form{
	.make-md-column(6);
	.make-md-column-offset(3);

	.form-control{ 
		font-family: "Roboto Light";
	}
}