@import (less) "template.css";
@import "normalize.css";
@import "../../components/bootstrap/less/bootstrap.less";
@import "../../components/fontawesome/less/font-awesome.less";


//fonts

@font-face {
	font-family: Mathlete Bulky;
	src: url(../fonts/Mathlete-Bulky.otf);
}

@font-face {
	font-family: A little sunshine;
	src: url(../fonts/A-little-sunshine.ttf);
}

@font-face {
	font-family: HipsterishFontNormal;
	src: url(../fonts/HipsterishFontNormal.ttf);
} 

@font-face {
	font-family: Roboto Light;
	src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: Roboto Medium;
	src: url(../fonts/Roboto-Medium.ttf);
}


// custom code

.navbar{
	.navbar-header{
		.brand{
			font-family: "HipsterishFontNormal";
			font-size: 36px;
			line-height: 36px;
			letter-spacing: 3px;

			&:hover{
				text-decoration: none;
			}
		}
	}
}


.hero-unit{

	h1{
		letter-spacing: 3px; 
	} 
}

.upload-form{
	.make-md-column(6);
	.make-md-column-offset(3);

	.form-control{ 
		font-family: "Roboto Light";
	}
}

/* Services section */
.services{
	h6{
		font-family: "Mathlete Bulky";
		font-size: 30px;
		letter-spacing: 2px;
		color: #000;
	}

	p{
		font-family: "HipsterishFontNormal";
		letter-spacing: 2px;
		font-weight: bold;
		font-size: 16px;
		color: #333;
	}
}

/* About section */
.content-23 {
   .container{
   		
   		h3{
   			text-align: center;
			font-size: 30px;
			font-weight: normal;
			color: #2c3e50;
			font-family: "Mathlete Bulky";
			margin-bottom: 80px;
			line-height: 42px;
			letter-spacing: 2px;
   		}

   		.hero-unit{
   			p{
   				font-size: 26px;
   				line-height: 30px;
			  	font-family: "Mathlete Bulky";
			  	font-weight: normal;
			  	color: #f3f3f3;
   			}
   		}
   }
}


/* Footer section */
.footer-3{
	.brand{
		font-family: "HipsterishFontNormal";
		font-size: 46px;
		line-height: 46px;
		letter-spacing: 3px;

		&:hover{
			text-decoration: none;
		}	
	}

	.additional-links{
		font-family: "A little sunshine";
		letter-spacing: 2px;
		color: #fff;

		i{
			color: #be0000;
		}
	}
}

/* Footer section end */